<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Player.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Player.Properties.Settings>
      <setting name="Device" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Proxy" serializeAs="String">
        <value />
      </setting>
      <setting name="RegEmail" serializeAs="String">
        <value>wschneiderbauer@gmx.at</value>
      </setting>
      <setting name="RegCode" serializeAs="String">
        <value>2X32283722152218</value>
      </setting>
      <setting name="visColor" serializeAs="String">
        <value>LimeGreen</value>
      </setting>
      <setting name="visColor2" serializeAs="String">
        <value>HotPink</value>
      </setting>
      <setting name="visColor3" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="visColorbg" serializeAs="String">
        <value>Transparent</value>
      </setting>
      <setting name="topMost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="configvis" serializeAs="String">
        <value>BAR</value>
      </setting>
      <setting name="chkFullscreen" serializeAs="String">
        <value>False</value>
      </setting>
    </Player.Properties.Settings>
  </userSettings>
</configuration>